/* 
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video 

{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/* End of Reset */

body {
    font-family: 'Yanone Kaffeesatz', sans-serif, Helvetica;
}

/* Start of NavBar */

.navbar {
    background-color: #6e75ff;
    position: fixed;
    height: 12%;
    z-index: 70;
    width: 100%;
}

.navbar > .content {
    margin-right: 15px;
}

.content {
    padding: 0 2rem;
    margin: 0 auto;
}

.navbar .links {
    float: right;
    margin-top: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif, Helvetica;
    font-size: 30px;
    color: #41444a;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}

.navbar .links li {
    display: inline-block;
    margin: 10px;
    background: #a8acff;
    border-radius: 10px;
    padding: .65rem;
 }

.navbar li:hover {
    background: #dcddff;
}

.navbar .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* START OF NAMETAGE SECTION */

.nametag {
    height:285px;
    background-color: #6e75ff;
    font-family: sans-serif, Helvetica;
}

.nametag h1 {
    color: #fff;
    text-align: center;
    font-size: 6em;
    line-height: 96px;
    padding-top: 120px;
}

.nametag h2 {
    color: #fff;
    text-align: center;
    font-size: 3em;
}

/* START OF NAME SECTION */

.name {
    font-family: 'Just Another Hand', cursive, sans-serif, Helvetica;
    margin-top: 40px;
}

.name h1 {
    font-size: 11em;
    text-align: center;
}

.name p {
    font-family: 'Yanone Kaffeesatz', sans-serif, Helvetica;
    font-size: 40px;
    text-align: center;
    color: #7c7c7c;
}

/* START OF NAMETAG_BOTTOM SECTION */

.nametag_bottom {
    background-color: #6e75ff;
    height: 240px;
    width: 100%;
    margin-top: 100px;
}

/* START OF CASES SECTION */

.cases {
    background-color: #E0E0E0;
    overflow: hidden;
    padding-top: 7.785rem;
    padding-bottom: 9.75rem;
}

.cases .content {
    color: #1d1e21;
    text-align: center;
}

.cases .devices {
    width: 33.333%;
    display: inline-block;
    height: 4em;
    margin-right: -4px;
    padding-right: 24px;
    padding-left: 24px;
}

.devices {
    text-align: center;
}

.devices .icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    color: #555555;
}

.icons-img {
    max-width: 96px;
    width: 96px;
    height: 96px;
    border: 2px solid #555555;
    background: #E0E0E0;
    border-radius: 96px;
    margin: 1.5em auto;
}

.devices .icons i {
    padding-top: 30px;
    font-size: 36px;
}

.icons-title {
    color: #f16162;
}

h5 {
    font-size: 2em;
}

.icons-body {
    margin-bottom: 1.5em;
}

p {
    margin: 0.25em 0 1em 0;
    line-height: 1.75;
    font-size: 1.25rem;
}

/* START OF ABOUT ME */

.about-me {
    background-image: url('../img/Portfolio_City_Background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
}

.about-me .content {
    padding-bottom: 5rem;
}

.about-me .adjustable {
    width: 50%;
    display: inline-block;
    height: 4rem;
    margin-right: -4px;
    padding-right: 24px;
    padding-left: 24px;
}

.adjustable p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
    color: black;
}

.adjustable img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin-top: 10rem;
    margin-left: 5rem;
}

/* START OF PROJECTS */

.projects {
    background-color: #E0E0E0;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.projects .content  h1 {
    font-size: 5rem;
    color: #f16162;
    text-align: center;
}

/* START OF FOOTER */

.social {
    background-color: #4d4d4d;
    overflow: auto;
    padding-top: 3rem;
    padding-bottom: 7.785rem;
    text-align: center;
}

.social .icons > li {
    border-radius: 1.75rem;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #cfd2d4;
    text-align: center;
}

 .icons i {
    padding: 0.5rem 0;
    font-size: 1.8rem;
 }

.social .fa {
    color: #cfd2d4;
}

.footer .content p {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 300;
    color: #838994;
}
